body {
    background: black;
    color: white;
    }

    h1 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
      p {
        color: green;
      }
        .reunus {
            border-style: dotted;
            border-width: 2px;
            width: 100px;
            height: 100px;
            }
            ol {
                list-style-type: upper-alpha;
              }
              ul {
                list-style-type: square;
              }